
<% layout("/layouts/boilerplate") -%>

<div class="row">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">

    <h3>Create a new listing</h3>

    <form method="POST" action="/listings" novalidate class="needs-validation">

      <div class="mb-3">
        <label class="form-label">Title</label>
        <input 
          type="text"
          name="listing[title]"
          placeholder="Add a catchy title"
          class="form-control"
          required
        >
        <div class="invalid-feedback">
          This field is required.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter the description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">
          Please enter a short description.
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Image Link</label>
        <input
          type="text"
          name="listing[image][url]"
          placeholder="Enter image URL"
          class="form-control"
        >
      </div>

      <div class="row">

        <div class="mb-3 col-md-4">
          <label class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            placeholder="e.g. 1200"
            class="form-control"
            min="0"
            required
          >
          <div class="invalid-feedback">
            Price should be valid.
          </div>
        </div>

        <div class="mb-3 col-md-8">
          <label class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="e.g. India"
            class="form-control"
            required
          >
          <div class="invalid-feedback">
            Country name should be valid.
          </div>
        </div>

      </div>

      <div class="mb-3">
        <label class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          class="form-control"
          required
        >
        <div class="invalid-feedback">
          Location should be valid.
        </div>
      </div>

      <button class="btn btn-dark add-btn">Add</button>

    </form>

  </div>
</div>